.pokePlannerMainContainer {
    display: flex;
    /* position: absolute; */
    height: 100%;
    width: 100%;
}

.plannerSubContainer {
    /*display: inline-block;*/
    height: fit-content;
    background-color: #1F1F1F;
    color: #e6e6e6;
}

/*CSS for the banners of all 3 of the main sections (Settings, Team Planner 
and Coverage/Suggestions*/
.plannerSubContainer {
    text-align: center;
}

.subContainerTitle {
    border-bottom: 2px solid #e6e6e6;
    margin: 0;
    padding-top: 5px;
}